.sidenav-container {
  position: relative;
  height: 100%;
}

.sidenav {
  width: 240px;
  background-color: #2d373c;
}

.sidenav-content {
  height: 100%;
}

.sidenav a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.mat-nav-list .mat-list-item {
  cursor: pointer;
  outline: none;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: block;
  height: 32px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
}

.mat-list-base .mat-list-item {
  font-size: 14px;
  font-weight: 100;
}

.mat-nav-list .mat-list-item .mat-list-item-content {
  padding-left: 25px;
}
.mat-list-base .mat-list-item .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
}

.mat-focus-indicator:hover {
  background-color: #2fa3e6;
}

.sidenav .sidenav-item-selected {
  background-color: #1f282d;
  color: #2fa3e6;
}

.top-band {
  height: 3rem;
  background-color: #f7f7f7;
  padding: 0 3px;
}

.top-band a {
  color: #000;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}
.material-icons {
  font-size: 15px;
  line-height: 1.5;
}
